.style_book_list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.style_book_item {
  width: 300px;
  margin: 10px;
}

.style_image {
  position: relative;
  height: 200px;
}

.style_image img {
  border-radius: 5%;
}
