.shop_info_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop_info_item {
  min-width: 350px;
  max-width: 400px;
  margin-bottom: 15px;
  position: relative;
}

.shop_image {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.shop_info_meta {
  display: flex;
  align-items: center;
  text-align: center;
}
