@import url('./reset.css');
@import url('antd/dist/antd.css');

* {
  box-sizing: border-box;
}

input,
textarea,
select {
  font-size: 16px;
}

#__next {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* Commom Style */
.page-section {
  padding-top: 150px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-section {
  max-width: 640px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

.auth-btn {
  position: absolute;
  top: 15%;
  left: 70%;
}
